{{- if .Values.kafka.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: {{ .Values.namespace }}
  labels:
    app: kafka
    {{- include "telemetry-lake.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: client
      port: 9092
      targetPort: 9092
      protocol: TCP
  selector:
    app: kafka
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-headless
  namespace: {{ .Values.namespace }}
  labels:
    app: kafka
    {{- include "telemetry-lake.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: client
      port: 9092
      targetPort: 9092
      protocol: TCP
    - name: controller
      port: 9093
      targetPort: 9093
      protocol: TCP
  selector:
    app: kafka
{{- end }}
